body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(120deg, #2e72ed, #e5a1ed);
    font-family: cursive;
}

a:hover {
    color: orange;
 
}
img.warriors {
    width: 217px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 13px;
}

img.mnnit {
    width: 224px;
    height: 124px;
    position: absolute;
    top: 0px;
    right: 0px;
   
    margin: 6px;
}
.navbar {
    display: block;
    margin: 20px auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 600px;
}

ul {
    overflow: auto;

}


li {
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 15px;

}

a {
    text-decoration: none;
    color: white;
    margin: -10px;
}

#profile {
    
   
    text-align: center;

}

.logo { background: linear-gradient(120deg,  #1f66e7, #e5a1ed);
    border-radius: 10px;
    height: 250px;
    width: 320px;
    display: inline-block;
    margin: 50px;
    text-align: center;
    box-shadow: 5px 5px 5px  #ebdaf6;
}

img.profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
margin: 20px;

}
img.warriors {
    width: 217px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 13px;
}

img.mnnit {
    width: 224px;
    height: 124px;
    position: absolute;
    top: 0px;
    right: 0px;
   
    margin: 6px;
} 
div:hover{
background-color: rgba(222, 222, 222, 0.1);
   
    transform: translateY(4px);
}
div:active{
background-color: rgba(119, 113, 113, 0.1);
   
   transform: translateY(4px);
}
.head{
background: linear-gradient(120deg,  #1f66e7, #dba94d);
    border-radius: 10px;
  
   
    display: inline-block;
 font-size: 35px;
    text-align: center;
    box-shadow: 5px 5px 5px  #ebdaf6;
}