body {
    background: linear-gradient(120deg, #2e72ed, #e5a1ed);
    margin: 0px;
    padding: 0px;
    color: rgb(19, 1, 1);
    font-family: cursive;
}

a:hover {
        color: orange;
     
    }
img.warriors {
        width: 217px;
        height: 63px;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 13px;
    }

    img.mnnit {
        width: 224px;
        height: 124px;
        position: absolute;
        top: 0px;
        right: 0px;
       
        margin: 6px;
    }
.navbar {
    display: block;
    margin: 20px auto;
    background-color:black;
    color: white;
    border-radius: 10px;
    width: 700px;
}

ul {
    overflow: auto;

}


li {
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 15px;

}

a {
    text-decoration: none;
    color: white;
    margin: -10px;
}

h1 {
    text-align: center;
    text-shadow:5px 5px 3px  #f9e9fa ;
}

.container {
    display: inline-block;
    background: linear-gradient(120deg,  #1f66e7, #e5a1ed);
    border-radius: 10px;

    height: 467px;
    width: 640px;
    margin: 51px;
    box-shadow: 10px 10px 8px #cbf1d6;
}

.head1 {
    background: linear-gradient(120deg, #dddddd, #9837a3);
    box-shadow: 5px 5px 5px #f2b7f6;
    border-radius: 9px;
    height: 25px;
    width: 135px;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 13px;



}

.head2 {

    display: block;
    margin-left: 20px;

    padding: 13px;


}

.position1 {
    background: linear-gradient(
120deg
, #cbcce3, #2f19e5);
box-shadow: 5px 5px 5px #cccbe9;
    border-radius: 9px;
    height: 25px;
    width: 135px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding: 13px;

}
.position2{
background: linear-gradient( 
120deg
, #a7efcb, #be1956);
box-shadow: 5px 5px 5px #5dca75;
border-radius: 9px;
height: 25px;
width: 237px;
display: inline-block;
margin: 20px;
text-align: center;
padding: 13px;

}
.main {
    display: inline-block;

}

#block {
    display: block;
    margin: 20px auto;
    text-align: center;

}
div:hover{
    background-color: rgba(222, 222, 222, 0.1);
       
        transform: translateY(4px);
}
div:active{
    background-color: rgba(119, 113, 113, 0.1);
       
       transform: translateY(4px);
}